* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: #eee;
    box-sizing: border-box;
}

#header {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #eee;
}

#nav-bar {
    margin-right: 50px;
}

#header-img {
    max-width: 100px;
}

#ul {
    display: flex;
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: black;
    margin-left: 40px;
}

#middle {
    margin-top: 70px;
    text-align: center;
    padding-top: 20px;
}

#email {
    display: block;
    border: 1px solid grey;
    margin: 10px auto;
    height: 2em;
    width: 14em;
    padding-left: 5px;
}

#submit {
    height: 2em;
    width: 7em;
    background-color: #f1c40f;
    font-weight: 900;
    font-size: 15;
}

#container {
    margin: 30px auto;
    width: 100%;
}

.grid {
    display: flex;
}

.icon {
    display: flex;
    color: darkorange;
    ;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 20vw;
}

.des {
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 58vw;
    justify-content: center;
}

#demo_video {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#demo_video>iframe {
    max-width: 560px;
    width: 100%;
}

#price {
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}

.product>.level {
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}

.product>h2 {
    margin-top: 15px;
}

.product>ol {
    margin: 15px 0;
}

.product>ol>ul {
    padding: 5px 0;
}

.product>button {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    text-transform: uppercase;
    border-radius: 2px;
    cursor: pointer;
}

footer {
    margin-top: 30px;
    background-color: #ddd;
    padding: 20px;
}

footer>ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    background-color: #ddd;
}

footer>ul>li {
    background-color: #ddd;
    padding: 10px;
}

footer>span {
    display: flex;
    justify-content: flex-end;
    background-color: #ddd;
}

@media (max-width:600px) {
    #header {
        flex-wrap: wrap;
    }
}

@media(max-width:600px) {
    .logo {
        margin-top: 15px;
        width: 100%;
        position: relative;
    }
}

@media (max-width: 600px) {
    #nav-bar {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 50px;
    }
}

@media (max-width: 600px) {
    #middle {
        margin-top: 120px;
    }
}

@media (max-width: 600px) {
    #price {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .product {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

@media (max-width: 550px) {
    #features .icon {
        display: none;
    }
}

@media (max-width: 550px) {
    #features .des {
        width: 100%;
        text-align: center;
        padding: 0;
        height: 150px;
    }
}